{% extends'base.html' %}
{% block conteudo %}
     <main class="text-center mt-5 text-black">
        <h2>Sobre</h2>
     <div class="">
        <div class="text-black">
         <p> Sou um idealizador futurista com projetos para alavancar a ecônomia local das pequenas cidades do inteior do Rio Grande do Norte.<br>
            Nossa missão é fortaleça a educação e o turismo da pequenas cidades<br>
            Explorando as tecnologia da informação e o potêncial turístico local.</p>
         </div>
        </main>
{% endblock %} 